<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/brands.min.css" integrity="sha512-+oRH6u1nDGSm3hH8poU85YFIVTdSnS2f+texdPGrURaJh8hzmhMiZrQth6l56P4ZQmxeZzd2DqVEMqQoJ8J89A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="
        {{#match @custom.code_style "=" "Default"}}{{asset "css/prism/prism-default.css"}}{{/match}}
        {{#match @custom.code_style "=" "Dark"}}{{asset "css/prism/prism-dark.css"}}{{/match}}
        {{#match @custom.code_style "=" "Funky"}}{{asset "css/prism/prism-funky.css"}}{{/match}}
        {{#match @custom.code_style "=" "Okaidia"}}{{asset "css/prism/prism-okaidia.css"}}{{/match}}
        {{#match @custom.code_style "=" "Twilight"}}{{asset "css/prism/prism-twilight.css"}}{{/match}}
        {{#match @custom.code_style "=" "Coy"}}{{asset "css/prism/prism-coy.css"}}{{/match}}
        {{#match @custom.code_style "=" "Solarized Light"}}{{asset "css/prism/prism-solarized-light.css"}}{{/match}}
        {{#match @custom.code_style "=" "Tomorrow Night"}}{{asset "css/prism/prism-tomorrow-night.css"}}{{/match}}
    ">

    <script>
        document.documentElement.style.setProperty('--inner-height', window.innerHeight + 'px');
    </script>

    <style>
        code[class*="language-"], pre[class*="language-"] {
            font-family: {{#match @custom.code_font "=" "Monofur"}}var(--font-monofur){{/match}}{{#match @custom.code_font "=" "Ubuntu Mono"}}var(--font-ubuntu){{/match}};
        }
    </style>

    {{ghost_head}}
</head>

<body class="{{body_class}} is-head-left-logo is-head-brand{{#if @site.members_enabled}}{{#unless @member}}{{#is "home"}} is-home-cta{{/is}}{{/unless}}{{/if}}">
    <div class="gh-site">
        <nav class="pf-nav">
            <header class="gh-home-head">
                <div class="gh-home-brand">
                    <a class="gh-home-logo" href="{{@site.url}}">
                        {{#if @site.logo}}
                            <img src="{{@site.logo}}" alt="{{@site.title}}">
                        {{else}}
                            {{@site.title}}
                        {{/if}}
                    </a>
                    <p class="gh-home-description">{{@site.description}}</p>
                </div>
                <a href="javascript:void(0);" class="icon pf-nav-top" onclick="pfexpand()"><i class="fa fa-bars"></i></a>
            </header>

            <hr class="pf-nav-hr" />
            {{navigation}}
            {{navigation type="secondary"}}
            <hr class="pf-nav-hr" />

            <footer class="gh-home-footer">
                <p class="gh-home-copyright">{{@site.title}} © 2022-{{date format="YYYY"}}</p>
            </footer>
        </nav>

        <div class="pf-wide">&nbsp;</div>
        {{{body}}}
    </div>

    {{#is "post, page"}}
        {{> "pswp"}}
    {{/is}}

    <script src="{{asset "built/main.min.js"}}"></script>

    {{ghost_foot}}
</body>

</html>